.form {
  .form-content {
    .item {
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
  
      label {
        font-size: rem(14);
        color: var(--text-color);
        font-family: var(--font-ctg);
        margin-left: 16px;
        margin-bottom: 8px;
      }
  
      input,
      textarea, select {
        border-radius: 8px;
        padding: 12px 24px;
        outline: 0;
        border: 1px solid var(--text-grey-scale-02);
        background-color: var(--grey-scale-01);
        color: var(--text-tertiary-01-var-4);
        font-size: rem(14);
        color: var(--text-tertiary-01-var-4);
  
        &::placeholder{
          color: var(--text-tertiary-01-var-4);
          font-size: rem(14);
        }
      }
    }
  }

  .aviso {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 16px;

    input {
      margin-top: 5px;
    }

    label {
      font-size: rem(14);
    }
  }
  
  .buttons-form {
    display: flex;
    gap: 8px;
  
    @media (max-width: 576px) {
      flex-wrap: wrap;
  
      button {
        width: 100%;
      }
    }
  }
  
}