// CTG SANS

@font-face {
	font-family: 'CTG Sans';
	src: url('../fonts/CTGSans/CTGSans-Light.ttf') format('ttf');
	src: url('../fonts/CTGSans/CTGSans-Light.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'CTG Sans';
	src: url('../fonts/CTGSans/CTGSans-LightItalic.ttf') format('ttf');
	src: url('../fonts/CTGSans/CTGSans-LightItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'CTG Sans';
	src: url('../fonts/CTGSans/CTGSans-Regular.ttf') format('ttf');
	src: url('../fonts/CTGSans/CTGSans-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'CTG Sans';
	src: url('../fonts/CTGSans/CTGSans-Italic.ttf') format('ttf');
	src: url('../fonts/CTGSans/CTGSans-Italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'CTG Sans';
	src: url('../fonts/CTGSans/CTGSans-Bold.ttf') format('ttf');
	src: url('../fonts/CTGSans/CTGSans-Bold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'CTG Sans';
	src: url('../fonts/CTGSans/CTGSans-BoldItalic.ttf') format('ttf');
	src: url('../fonts/CTGSans/CTGSans-BoldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
}



@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.eot?8yr2di");
  src: url("../fonts/icomoon/icomoon.eot?8yr2di#iefix")
      format("embedded-opentype"),
    url("../fonts/icomoon/icomoon.ttf?8yr2di") format("truetype"),
    url("../fonts/icomoon/icomoon.woff?8yr2di") format("woff"),
    url("../fonts/icomoon/icomoon.svg?8yr2di#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aumentar-fonte:before {
  content: "\e909";
  color: white;
}
.icon-arrow-down:before {
  content: "\e900";
  color: #fff;
}
.icon-arrow-left:before {
  content: "\e901";
  color: #4d4d4d;
}
.icon-arrow-right:before {
  content: "\e902";
  color: #1358bf;
}
.icon-busca:before {
  content: "\e903";
  color: white;
}
.icon-contraste:before {
  content: "\e904";
  color: white;
}
.icon-diminuir-fonte:before {
  content: "\e905";
  color: white;
}
.icon-exibir:before {
  content: "\e906";
  // color: #fff;
  color: white;
}
.icon-alerts:before {
  content: "\e907";
  color: #fff;
}
.icon-site:before {
  content: "\e908";
  color: #fff;
}
