:root {
  // Font Family

  --font-ctg: "CTG Sans";
  --font-icomoon: "icomoon";

  // Text Colors

  --text-color: #333333;

  --text-primary-01-default: #005BAC;

  --text-primary-01-var-1: #93BAE8;
  --text-primary-01-var-2: #6EA3DC;
  --text-primary-01-var-3: #498BCE;
  --text-primary-01-var-4: #2573BE;
  --text-primary-01-var-5: #0053AA;
  --text-primary-01-var-6: #004CA5;
  --text-primary-01-var-7: #00449D;
  --text-primary-01-var-8: #003C91;

  --text-secondary-01-default: #1E74BB;

  --text-secondary-01-var-1: #95C5ED;
  --text-secondary-01-var-2: #75B1E3;
  --text-secondary-01-var-3: #569DD8;
  --text-secondary-01-var-4: #3989CA;
  --text-secondary-01-var-5: #0D6AB6;
  --text-secondary-01-var-6: #0060AF;
  --text-secondary-01-var-7: #0056A4;
  --text-secondary-01-var-8: #004C96;

  --text-tertiary-01-default: #626366;

  --text-tertiary-01-var-1: #BCBDBE;
  --text-tertiary-01-var-2: #A6A6A8;
  --text-tertiary-01-var-3: #8F9092;
  --text-tertiary-01-var-4: #79797C;
  --text-tertiary-01-var-5: #58595C;
  --text-tertiary-01-var-6: #4E4F52;
  --text-tertiary-01-var-7: #444548;
  --text-tertiary-01-var-8: #3A3B3E;

  --text-grey-scale-00: #ffffff;
  --text-grey-scale-01: #f5f5f5;
  --text-grey-scale-02: #f0f0f0;
  --text-grey-scale-03: #e0e0e0;
  --text-grey-scale-04: #cccccc;
  --text-grey-scale-05: #8f8f8f;
  --text-grey-scale-06: #525252;
  --text-grey-scale-07: #3f3f3f;
  --text-grey-scale-08: #333333;
  --text-grey-scale-09: #232323;
  --text-grey-scale-10: #191919;

  --text-system-disabled: #d9d9d9;

  --text-system-link: #1a0dab;
  --text-system-focus: #2e82e5;
  --text-system-link-visited: #1b1466;
  --text-system-negative: #d23a20;
  --text-system-alert: #ecb307;
  --text-system-positive: #1e986f;

  // Solid Colors

  --primary-01-default: #005BAC;

  --primary-01-var-1: #93BAE8;
  --primary-01-var-2: #6EA3DC;
  --primary-01-var-3: #498BCE;
  --primary-01-var-4: #2573BE;
  --primary-01-var-5: #0053AA;
  --primary-01-var-6: #004CA5;
  --primary-01-var-7: #00449D;
  --primary-01-var-8: #003C91;

  --secondary-01-default: #1E74BB;

  --secondary-01-var-1: #95C5ED;
  --secondary-01-var-2: #75B1E3;
  --secondary-01-var-3: #569DD8;
  --secondary-01-var-4: #3989CA;
  --secondary-01-var-5: #0D6AB6;
  --secondary-01-var-6: #0060AF;
  --secondary-01-var-7: #0056A4;
  --secondary-01-var-8: #004C96;

  --tertiary-01-default: #626366;

  --tertiary-01-var-1: #BCBDBE;
  --tertiary-01-var-2: #A6A6A8;
  --tertiary-01-var-3: #8F9092;
  --tertiary-01-var-4: #79797C;
  --tertiary-01-var-5: #58595C;
  --tertiary-01-var-6: #4E4F52;
  --tertiary-01-var-7: #444548;
  --tertiary-01-var-8: #3A3B3E;

  --grey-scale-00: #ffffff;
  --grey-scale-01: #f5f5f5;
  --grey-scale-02: #f0f0f0;
  --grey-scale-03: #e0e0e0;
  --grey-scale-04: #cccccc;
  --grey-scale-05: #8f8f8f;
  --grey-scale-06: #525252;
  --grey-scale-07: #3f3f3f;
  --grey-scale-08: #333333;
  --grey-scale-09: #232323;
  --grey-scale-10: #191919;

  --system-disabled: #d9d9d9;

  --system-link: #1a0dab;
  --system-focus: #2e82e5;
  --system-link-visited: #1b1466;
  --system-negative: #d23a20;
  --system-alert: #ecb307;
  --system-positive: #1e986f;
}
